 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sou Educador Social | Desenvolvedor Web, entusiasmado e apaixonado por tecnologia, artes gráficas, audiovisual e tecnologias da informação, desenvolvimento de softwares, front-end e mobile, refletindo sempre as funções sociais das tecnologias digitais e suas aplicações em uma sociedade cada vez mais informatizada e conectada.</p>
                </div>
                <div class="col-lg-4">
                    <p>Entusiasta e apaixonado pelo uso de software livre, terminal, user command cli e o universo Gnu-Linux. No estudo institucionalizado já flertei com história, designer e computação gráfica. Sigo na lida e estudando sempre!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/ikebanto" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> like!
                    </a>
                </div>
            </div>
        </div>
    </section>
